ASPNETCORE_ENVIRONMENT=Production
Kestrel__Certificates__Default__Path=/certs/shared/https.pfx
Kestrel__Certificates__Default__Password=
Health_Dashboard__ClientId=health_dashboard
Health_Dashboard__ClientSecret=
Health_Dashboard__GatekeeperUrl=https://xxxxx/gatekeeper/
Health_Dashboard__PathBase=/dashboard
Health_Dashboard__ChallengeUrl=https://xxxxx/challenges/
Health_Dashboard__HealthDataRepositoryUrl=https://xxxxx/health-data-repository/
Health_Dashboard__UserGroupsUrl=https://xxxxx/user-groups/
Health_Dashboard__FitBitIngestServiceUrl=https://xxxxx/fitbit-ingest-service/
